h6 {
    margin: 5px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 0.2fr 0.2fr 0.4fr;
    align-items: end;
    gap: 20px;
}

.blueText {
    color: blue;
}
.orangeText {
    color: orange;
}
.greenText {
    color: green;
}